<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
   <link rel="stylesheet" href="/stylesheets/show.css">
   <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class='card'>
        <div class="back">
            <a href="/" class="my-5 font-bold "> Go back</a>
        </div>
        <div class='img-container my-2'>
          <img src='https://picsum.photos/300/150' width='350'/>
        </div>
        
        <h1><%= filename %></h1>
        <p><%= filedata %></p>
      </div>
</body>
</html>